html {
  @apply font-body;
}

body {
  @apply bg-light-50 dark:bg-midnight-950 text-midnight-900 dark:text-light-50;
}

svg {
  @apply inline-block shrink-0;
}

button,
.button {
  @apply inline-flex cursor-pointer items-center justify-center gap-2 rounded-lg px-3 py-3 font-bold transition-all [&_svg]:size-5;
}

button.primary,
.button.primary {
  @apply text-light-50 shadow-button bg-purple-600 hover:bg-purple-700;
}

.section-title {
  @apply text-center text-2xl font-bold lg:text-4xl;
}

.card {
  @apply bg-light-50 shadow-card dark:bg-midnight-900 w-full rounded dark:shadow-none;
}

.card-content {
  @apply p-5;
}

.form-input {
  @apply border-opacity-c placeholder:text-dimmed-theme block w-full rounded-lg p-3.5 outline-none focus:border-purple-600 transition-all focus:ring-purple-600/10 focus:ring-4;
}

.checkbox {
  @apply accent-purple-600;
}

@utility text-dimmed-theme {
  @apply text-midnight-500 dark:text-light-600;
}

@utility container {
  @apply mx-auto max-w-[unset] w-full! px-8 lg:px-32;
}

@utility light-effect {
  @apply absolute rounded-full bg-linear-to-br from-purple-300 from-0% to-red-300 to-100% blur-[577px];
}

@utility border-opacity-c {
  @apply border-midnight-900/10 border;
}
